<form [formGroup]="formEvento">

  <div class="p-grid p-dir-col">

    <input type="text" [(ngModel)]="evento.titulo" placeholder="Título do Evento" formControlName="titulo" pInputText />
    <br>

    <input type="text" [(ngModel)]="evento.local" placeholder="Local" formControlName="local" pInputText />
    <br>

    <input type="text" [(ngModel)]="evento.descricao" placeholder="Descrição" formControlName="descricao" pInputText />
    <br>

    <input type="text" [(ngModel)]="evento.qtdVagas" placeholder="Quantidade de Vagas" formControlName="qtdVagas"
      pInputText />
    <br>

    <p>Marque a checkbox caso seja um evento pago:</p>
    <p-checkbox formControlName="" [(ngModel)]="evento.tipoInscricao" [binary]="true"></p-checkbox>
    <br>

    <div>
      <p>Selecione o Tipo de Evento:</p>
      <p-dropdown [options]="selectTipoEvento" [(ngModel)]="evento.idTipoEvento" optionLabel="tipoEventos"></p-dropdown>
    </div>
    <br>

    <input type="text" [(ngModel)]="evento.valor" placeholder="Valor" formControlName="valor" pInputText />
    <br>

    <input type="text" [(ngModel)]="evento.dataInicio" placeholder="Data de Início" formControlName="dataInicio"
      pInputText />
    <br>

    <input type="text" [(ngModel)]="evento.dataFim" placeholder="Data Fim" formControlName="dataFim" pInputText />
  </div>

</form>
<br>
<button (click)="postEvento()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'"></button>