<form [formGroup]="formEvento">

  <div class="p-grid p-dir-col">

    <p>Título:</p>
    <input type="text" [(ngModel)]="evento.titulo" placeholder="Título do Evento" formControlName="titulo" pInputText />
    <br>

    <p>Local:</p>
    <input type="text" [(ngModel)]="evento.local" placeholder="Local" formControlName="local" pInputText />
    <br>

    <p>Descrição:</p>
    <input type="text" [(ngModel)]="evento.descricao" placeholder="Descrição" formControlName="descricao" pInputText />
    <br>

    <p>Quantidade de vagas:</p>
    <input type="text" [(ngModel)]="evento.qtdVagas" placeholder="Quantidade de Vagas" formControlName="qtdVagas"
      pInputText />
    <br>

    <p>Marque a checkbox caso seja um evento pago:</p>
    <p-checkbox formControlName="tipoInscricao" [(ngModel)]="evento.tipoInscricao" [binary]="true"></p-checkbox>
    <br>

    <p>Selecione o Tipo de Evento:</p>
    <p-dropdown [options]="tipoEventos" formControlName="tipoEvento" [(ngModel)]="selectTipoEvento"
      optionLabel="descricao" optionValue="id"></p-dropdown>
    <br>

    <p>Valor:</p>
    <!-- <p-inputNumber [(ngModel)]="evento.valor" mode="decimal" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber> -->
    <input type="text" [(ngModel)]="evento.valor" placeholder="R$" formControlName="valor" pInputText />
    <br>

    <p>Data início:</p>
    <p-calendar [(ngModel)]="evento.dataInicio" dateFormat="dd.mm.yy" formControlName="dataInicio"></p-calendar>
    <br>

    <p>Data fim:</p>
    <p-calendar [(ngModel)]="evento.dataFim " dateFormat="dd.mm.yy" formControlName="dataFim"></p-calendar>
  </div>

  <!-- Botão para cadastrar perguntas ao Evento -->
  <p-dialog header="Cadastrar perguntas" [(visible)]="display">

    <!-- Dialog para adicionar perguntas - Início -->
    <div class="perguntas">

      <div class="obrigatoriedade">
        <p-inputSwitch [(ngModel)]="pergunta.obrigatoriedade"></p-inputSwitch>
      </div>
      <input type="text" pInputText />
      <p-button label="Salvar" [(ngModel)]="evento.perguntas"></p-button>

    </div> <!-- Dialog para adicionar perguntas - Fim -->

  </p-dialog>

  <p>Cadastrar perguntas:</p>
  <button (click)="showDialog()" pButton type="button" icon="pi pi-info-circle" label="Show" label="Perguntas"></button>

</form>
<br>
<button (click)="postEvento()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'"></button>