<app-card>

      <div class="p-d-flex p-jc-center">
        <form>
          <div class="form-group">
            <label for="usuario">E-mail:</label>
            <input id="email" type="email" class="form-control" />
          </div>
          <div class="form-group">
            <label for="password">Chave de acesso:</label>
            <input type="password" class="form-control" id="chave" />
          </div>
          <button pButton type="button" class="ui-button-raised ui-button-rounded">Entrar</button>
          <button (click)="entrar()" pButton type="button" class="ui-button-raised ui-button-rounded">Cancelar</button>
        </form>
      </div>

</app-card>
