
<form [formGroup]="cadastroUsuario">
    <input type="text" [(ngModel)]="usuario.nome" placeHolder="nome" formControlName="nome" pInputText />
    <div *ngIf="cadastroUsuario.get('nome').invalid">Nome inválido</div>
    <input type="text" [(ngModel)]="usuario.cpf" placeHolder="cpf" formControlName="cpf" pInputText />
    <input type="text" [(ngModel)]="usuario.email" placeHolder="email" formControlName="email" pInputText />
    <p-inputMask type="text" [(ngModel)]="usuario.telefone" mask="(99)99999-9999" placeHolder="telefone" formControlName="telefone" pInputText ></p-inputMask>
    <input type="text" [(ngModel)]="usuario.dataNascimento" placeHolder="data de Nascimento" formControlName="dataNascimento" pInputText/>
</form>

<button (click)="salvar()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'" ></button>

