<div id="backPlate-login" class="p-d-flex p-jc-center">
  <div class="card" id="form">
    <div class="midllecontent">
      <h1 class="sge">Login</h1>
      <div class="InputChave">
        <i class="pi pi-key"></i>
        <input id="insertkey" [(ngModel)]="chaveInput" type="password" pInputText
          placeholder="Insira sua chave de inscrição" />
      </div>
    </div>
    <div class="botoes">
      <button pButton (click)="login(chaveInput)" type="button" label="Entrar" class="botoes1"></button>
      <button pButton type="button" (click)="mostrarDialog()" label="Cadastre-se" class="botoes1"></button>
      <p-dialog header="Cadastre-se" [(visible)]="display">
        <app-formulario (emitCadastro)="fecharDialog($event)">

        </app-formulario>
      </p-dialog>
    </div>
  </div>
</div>