<p-table [value]="eventos">
    <ng-template pTemplate="header">
        <tr>
            <th>Local</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Quantidade de Vagas</th>
            <th>Valor</th>
            <th>Data Inicio</th>
            <th>Data Fim</th>
            <th>Tipo Inscricao</th>
            <th>Tipo Evento</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-car>
        <tr>
            <td>{{eventos.}}</td>
            <td>{{car.year}}</td>
            <td>{{car.brand}}</td>
            <td>{{car.color}}</td>
        </tr>
    </ng-template>
</p-table>
