input {
    background-color: #fff;
    border: 1px solid #000;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    flex-wrap: nowrap;
  }
  
  p-table {
    padding: 20px;
  }