<app-card>
      <div class="p-d-flex p-jc-center">
        <form>
          <div class="p-d-flex p-jc-center">
            <label>E-mail:</label>
            <input type="text" placeHolder="e-mail" formControlName="email" pInputText />
          </div>
          <div class="p-d-flex p-jc-center">
            <label for="password">Chave de acesso:</label>
            <input type="password" placeHolder="chave de acesso" formControlName="chave" pInputText />
          </div>
          <button pButton type="button" class="ui-button-raised ui-button-rounded">Entrar</button>
          <button pButton type="button" class="ui-button-raised ui-button-rounded">Cancelar</button>
        </form>
      </div>

</app-card>
