<form [formGroup]="formEvento">

  <div class="p-grid p-dir-col">

    <p>Título:</p>
    <input type="text" [(ngModel)]="evento.titulo" placeholder="Título do Evento" formControlName="titulo" pInputText />
    <br>

    <p>Local:</p>
    <input type="text" [(ngModel)]="evento.local" placeholder="Local" formControlName="local" pInputText />
    <br>

    <p>Descrição:</p>
    <input type="text" [(ngModel)]="evento.descricao" placeholder="Descrição" formControlName="descricao" pInputText />
    <br>

    <p>Quantidade de vagas:</p>
    <input type="text" [(ngModel)]="evento.qtdVagas" placeholder="Quantidade de Vagas" formControlName="qtdVagas"
      pInputText />
    <br>

    <div class="p-field p-col-12 p-md-6">
      <p-dropdown [options]="tipoEventos" placeholder="Categorias do Eventos" 
      [(ngModel)]="selecionarIdTipoEvento" formControlName="idTipoEvento"
      optionLabel="descricao" optionValue="id"></p-dropdown>
  </div>


    <p>Informe se o evento sera pago ou gratuito:</p>
    <p-inputSwitch [(ngModel)]="tipoInscricao" formControlCName="tipoInscricao"></p-inputSwitch>
    <br>

    <p>Valor:</p>
    <!-- <p-inputNumber [(ngModel)]="evento.valor" mode="decimal" locale="pt-BR" [minFractionDigits]="2"></p-inputNumber> -->
    <input type="text" [(ngModel)]="evento.valor" placeholder="R$" formControlName="valor" pInputText />
    <br>

    <p>Data início:</p>
    <input type="text" [(ngModel)]="evento.dataInicio" placeholder="Data de Início" formControlName="dataInicio"
      pInputText />
    <br>

    <p>Data fim:</p>
    <input type="text" [(ngModel)]="evento.dataFim" placeholder="Data Fim" formControlName="dataFim" pInputText />
  </div>


  <p>Cadastrar perguntas:</p>
  <!-- Botão para cadastrar perguntas ao Evento -->
            <p-multiSelect class="input" (click)="buscarPerguntas()" formControlName="eventoPerguntas" [options]="perguntasEvento"  [virtualScroll]="true" itemSize="40"
            [(ngModel)]="perguntaSalva" optionLabel="titulo"></p-multiSelect>

  <!-- Dialog para adicionar perguntas - Início -->
  <p-dialog header="Perguntas" [(visible)]="display">

      <input type="text" pInputText />
      <!-- <p-button label="Salvar" [(ngModel)]="evento.perguntas"
        (onClick)="">
      </p-button> -->
      <br>
      <br>

      <p-button label="Concluir" (onClick)="closeDialog()"></p-button>

     <!-- Dialog para adicionar perguntas - Fim -->

  </p-dialog>

  <p-toolbar>
    <p>Crie uma nova pergunta caso queira: </p>
    <div class="p-toolbar-group-center">
        
        <p-button (click)="salvarPergunta()" label="Novo" icon="pi pi-plus" ></p-button>
        
        <input class="input" type="text"  [(ngModel)]="pergunta.titulo" formControlName="pergunta"  placeholder="Digite o titulo da pergunta: " formControlName="pergunta" pInputText *ngIf="perguntaAdd"/>
        <i class="pi pi-bars"></i>
        <p-checkbox  [(ngModel)]="pergunta.obrigatoriedade" [binary]="true" *ngIf="perguntaAdd" formControlName="pergunta"></p-checkbox>
        <i class="pi pi-bars"></i>
        <p-button  (click)="salvarPergunta(pergunta)" label="Save" icon="pi pi-check" styleClass="p-button-warning" *ngIf="perguntaAdd"></p-button>
    </div>
</p-toolbar>

</form>
<br>
<button (click)="salvarEvento()" pButton type="button" [label]="edicao ? 'Editar' : 'Cadastrar'"></button>
<p-confirmDialog header="Confirmação de cadastro" icon="pi pi-exclamation-triangle"></p-confirmDialog>