  <br>
  <form [formGroup]="formEvento" >
      
      <div  class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-6 ui-float-label">
              <input id="float-input"  class="input" type="text"  [(ngModel)]="evento.titulo" formControlName="titulo" pInputText/>   
              <label for="float-input" class="label">Titulo:</label>
          </div>
          
          <div class="p-field p-col-12 p-md-6 ui-float-label">
              <input id="float-input" class="input " type="text"  [(ngModel)]="evento.descricao"  formControlName="descricao" pInputText/>
              <label for="float-input" class="label">Descrição:</label>
              
          </div>
          <div class="p-field p-col-12 p-md-6 ui-float-label">
              <input id="float-input" class="input " type="text"  [(ngModel)]="evento.local" formControlName="local" pInputText/>
              <label for="float-input" class="label">Local:</label>
              
          </div>
          <div class="p-field p-col-12 p-md-6 ui-float-label">
              <input id="float-input" class="input " pKeyFilter="pnum" type="number"  [(ngModel)]="evento.qtdVagas" formControlName="qtdVagas" pInputText/>
              <label for="float-input" class="label">Vagas:</label>
          </div>
          
          <div class="p-field p-col-12 p-md-6">
              <p class="input">Data início:</p>
              <input class="input" type="datetime-local"  [(ngModel)]="evento.dataInicio" placeholder="Data e hora do inicio do evento:" formControlName="dataInicio" pInputText/>
          </div>
          <div class="p-field p-col-12 p-md-6">
                  <p class="input">Data fim:</p>
                  <input class="input" type="datetime-local"  [(ngModel)]="evento.dataFim" placeholder="Data e hora do fim do evento:" formControlName="dataFim" pInputText/>
          </div>   
          
          <div class=" p-field p-col-12 p-md-6">
              <p class="input">Selecione se o tipo da inscrição é paga</p>
              <p-inputSwitch class="input" [(ngModel)]="inscricaoTipo" formControlName="tipoInscricao" ></p-inputSwitch>
          </div>
          <div class="p-field p-col-12 p-md-6">
              <p-dropdown [options]="tipoEventos" placeholder="Selecione o Tipo do Evento" 
              [(ngModel)]="evento.tipoEvento" formControlName="tipoEvento"
              optionLabel="descricao" optionValue="id"></p-dropdown>
          </div>
          <div *ngIf="evento.tipoInscricao" class="p-field p-col-12 p-md-6 ">
              <p class="input">Valor:</p>
              <input  class="input " type="number" pKeyFilter="pnum" [(ngModel)]="evento.valor" size="30" formControlName="valor" placeholder="Valor de inscrição:" pInputText/>
          </div>
  
          <div class=" p-field p-col-12 p-md-6">
              <p class="input">Seleção de perguntas:</p>
              <p-multiSelect class="input" (click)="buscarPerguntas()" formControlName="eventoPerguntas" [options]="perguntasEvento"  
              [(ngModel)]="perguntaEventoPergunta" optionLabel="titulo"></p-multiSelect> 
          </div>
      </div>
  
      <!-- Botão para cadastrar perguntas ao Evento -->
      <p>Cadastrar perguntas:</p>
      <p-toolbar>
    <div class="p-toolbar-group-center">

      <!-- <p-button (click)="addPergunta()" label="Novo" icon="pi pi-plus"></p-button> -->

      <input class="input" type="text" [(ngModel)]="pergunta.titulo" placeholder="Título da pergunta: "
        formControlName="pergunta" pInputText *ngIf="perguntaAdd" />
      <i class="pi pi-bars"></i>
      <p-checkbox [(ngModel)]="pergunta.obrigatoriedade" [binary]="true" *ngIf="perguntaAdd"
        formControlName="obrigatoriedade"></p-checkbox>
      <i class="pi pi-bars"></i>
      <p-button (click)="salvarPergunta(pergunta)" label="Save" icon="pi pi-check" styleClass="p-button-warning"
        *ngIf="perguntaAdd"></p-button>
    </div>
  </p-toolbar>

  <!-- Dialog para adicionar perguntas - Início -->
  <p-dialog header="Perguntas" [(visible)]="display">

    <input type="text" pInputText [(ngModel)]="pergunta.titulo" placeholder="Titulo:" formControlName="pergunta"
      *ngIf="perguntaAdd" />
    <p-button label="Salvar" (click)="salvarPergunta(pergunta)" label="Save" icon="pi pi-check"
      styleClass="p-button-warning" *ngIf="perguntaAdd">
    </p-button>
    <br>
    <br>

    <!-- <p-button label="Concluir" (onClick)="closeDialog()"></p-button> -->

    <!-- Dialog para adicionar perguntas - Fim -->

  </p-dialog>

  <p-toolbar>
    <p>Novas perguntas: </p>
    <div class="p-toolbar-group-center">

      <p-button (click)="addPergunta()" label="Novo" icon="pi pi-plus"></p-button>

      
    </div>
  </p-toolbar>

  </form>
  
  <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <button (click)="salvar()"  pButton icon="pi pi-check"  [label]="edicao ?'Editar' : 'Cadastrar' " class="botao"></button>